h2 {
    background-color: rgb(183, 68, 148);
    color: rgb(215, 232, 245);
    text-align: center;
    text-shadow: 4px 2px black ;
}
h3 {
    background-color: rgba(144, 167, 219, 0.50);
    color: rgb(193, 47, 111);
    text-align: center;
    text-shadow: 1px 1px black;
    
}

div {
    align-items: center;
    width: auto;
    height: 50%;
}

img {
    border: 5px double;
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    box-shadow: 10px 10px 5px darkslateblue;
}